name: Download Docker Image
on: workflow_dispatch
jobs:
  download:
    runs-on: ubuntu-latest
    steps:
      - name: Pull and Save
        run: |
          docker pull btpanel/btpanel:latest
          docker save -o btpanel.tar btpanel/btpanel:latest
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: btpanel-tar-package
          path: btpanel.tar
