name: Download Docker Image
on: workflow_dispatch
jobs:
  download:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
      
      - name: Pull and Save Image
        run: |
          # 更改为你需要的实际镜像名，例如 pch18/baota
          docker pull docker.io/flannel/flannel-cni-plugin:v1.2.0
          docker save docker.io/flannel/flannel-cni-plugin:v1.2.0 | gzip > flannel-cni-plugin.tar.gz
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: flannel-cni-plugin-package
          path: flannel-cni-plugin.tar.gz
          retention-days: 1
