name: Download Docker Image
on: workflow_dispatch
jobs:
  download:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
      
      - name: Pull and Save Image
        run: |
          # 更改为你需要的实际镜像名，例如 pch18/baota
          docker pull sizx/dm8:1-2-128-22.08.04-166351-20005-CTM
          docker save sizx/dm8:1-2-128-22.08.04-166351-20005-CTM -o dm8.tar
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: dm8.tar-package
          path: dm8.tar
          retention-days: 1
