name: Download Docker Image
on: workflow_dispatch
jobs:
  download:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
      
      - name: Pull and Save Image
        run: |
          # 更改为你需要的实际镜像名，例如 pch18/baota
          docker pull prom/node-exporter:v1.6.1
          docker save prom/node-exporter:v1.6.1 -o node-exporter.tar
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: node-exporter-package
          path: node-exporter.tar
          retention-days: 1
